<!DOCTYPE html>
<html>
	<head>
		<title>Flask Form Test</title>
		<link rel="stylesheet" href="../static/CensusDataGrabber.css">
		<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
		<script src="../static/CensusDataGrabber.js"></script>
	</head>
	<body>
		<form method="POST" action="meow">
			<label for="meow">Meow, enter some words:</label><br>
			<input name="meow" type="text" style="color:#AA55AA; background-color:#AA55AA">
			<input type="submit">
		</form>
		<br><br>
		<form method="POST" name="Geography" action="results">
			<div class="years-input">
				<label for="dataYearss">Year or Year Range of requested data (no data available prior to 2009):</label><br>
				<input type="text" name="dataYears" id="dataYears" value="2019">
			</div><br>
			<div class="fields-input">
				<label for="dataFields">Data Fields requested:</label><br>
				<input type="text" name="dataFields" id ="dataFields" value="NAME,B01003_001E">
			</div>
			<br>
			<div class="form-tables">
				<div class="geoTableForm" data-table-id="0" name="geoTableForm_0" hidden>
					<div class="geoSelector" data-table-id="0" name="geoSelector_0" value="Tracts">
						<select name="GeoType_0" data-table-id="0" onchange=setTable(this)>
							<option value="Tract">Tracts</option>
							<option value="County">Counties</option>
							<option value="State">States</option>
							<option value="Block%20Group">Block Groups</option>
							<option value="Congressional%20District">Congressional District</option>
						</select>
					</div>
					<div class="TableButtons" data-table-id="0">
						<div class="justTable" data-table-id="0">
							<table border="1" data-table-id="0">
								<thead name="head_0" data-table-id="0" align="Center" bgcolor="#BBFFBB">
									<tr class="head">
										<td>State</td>
										<td>County</td>
										<td>Tract</td>
									</tr>
								</thead>
								<tbody name="body_0" data-table-id="0">
									<tr class="body" data-table-id="0" data-row-id="1">
										<td><input class="State" data-table-id="0" data-row-id="1" name="State_0_1" value="All"></td>
										<td><input class="County" data-table-id="0" data-row-id="1" name="County_0_1" value="All"></td>
										<td><input class="Tract" data-table-id="0" data-row-id="1" name="Tract_0_1" value="All"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="justButtons" data-table-id="0">
							<button type="button" data-table-id="0" data-button-id="0" onclick=addRow(this)>Add State</button>
							<button type="button" data-table-id="0" data-button-id="1" onclick=addRow(this)>Add County</button>
							<button type="button" data-table-id="0" data-button-id="2" onclick=addRow(this)>Add Tracts</button>
							<br>
							<button type="button" data-table-id="0" onclick=dropRow(this)>Drop Row</button>
						</div>
						<br>
					</div>
					<button type="button" id="copy-table" data-table-id="1" onclick=addTable(this)>Copy Table</button>
					<button type="button" id="add-blank-table" onclick=addTable(this)>Add Blank Table</button>
					<br>
					<button type="button" id="drop-table" data-table-id="1" onclick=dropTable(this)>Drop Table</button>
				</div>
				<div class="geoTableForm" data-table-id="1" name="geoTableForm_1">
					<div class="geoSelector" data-table-id="1" name="geoSelector_0">
						<select name="GeoType_1" data-table-id="1" onchange=setTable(this)>
							<option value="Tract">Tracts</option>
							<option value="County">Counties</option>
							<option value="State">States</option>
							<option value="Block%20Group">Block Groups</option>
							<option value="Congressional%20District">Congressional District</option>
						</select>
					</div>
					<div class="TableButtons" data-table-id="1">
						<div class="justTable" data-table-id="1">
							<table border="1" data-table-id="1">
								<thead name="head_1" data-table-id="1" align="Center" bgcolor="#BBFFBB">
									<tr class="head">
										<td>State</td>
										<td>County</td>
										<td>Tract</td>
									</tr>
								</thead>
								<tbody name="body_1" data-table-id="1">
									<tr class="body" data-table-id="1" data-row-id="1">
										<td><input class="State" data-table-id="1" data-row-id="1" name="State_1_1" value="All"></td>
										<td><input class="County" data-table-id="1" data-row-id="1" name="County_1_1" value="All"></td>
										<td><input class="Tract" data-table-id="1" data-row-id="1" name="Tract_1_1" value="All"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="justButtons" data-table-id="1">
							<button type="button" data-table-id="1" data-button-id="0" onclick=addRow(this)>Add State</button>
							<button type="button" data-table-id="1" data-button-id="1" onclick=addRow(this)>Add County</button>
							<button type="button" data-table-id="1" data-button-id="2" onclick=addRow(this)>Add Tracts</button>
							<br>
							<button type="button" data-table-id="1" onclick=dropRow(this)>Drop Row</button>
						</div>
					</div>
					<br>
					<button type="button" id="copy-table" data-table-id="1" onclick=addTable(this)>Copy Table</button>
					<button type="button" id="add-blank-table" onclick=addTable(this)>Add Blank Table</button>
					<br>
					<button type="button" id="drop-table" data-table-id="1" onclick=dropTable(this)>Drop Table</button>
				</div>
			</div>
			<br>
			<div id="geoSubmit">
				<button type="Submit">Submit Geography</button>
			</div>
		</form>
	</body>
<html>